/* @font-face {
    font-family: semibold;
    src:url(./Poppins-SemiBold.ttf) format('ttf'),
}
@font-face {
    font-family: medium;
    src:url(./Poppins-SemiBold.ttf) format('ttf'),
} */
/* @font-face {
    font-family: regular;
    src:url(./Poppins-SemiBold.ttf) format('ttf'),
} */

/* @font-face {
    font-family: "SRG";
    src: local('SRG'), url("./Poppins-SemiBold.ttf") format("ttf"),
} */
